<% if current_user %>
    <h3>Bienvenido, <%= current_user.name %></h3>
    <p>RankmiTest es una herramienta donde podr치s recoger el feedback y solicitudes de mejoras para el 치rea de operaciones encargados de implementaci칩n..</p>
<% else %>
    <h3>Hola, Bienvenido a RankmiTest</h3>
    <p> Se recomienda iniciar sesi칩n para hacer uso de la herramienta </p>
<% end %>
