<%= render @request %>

<div class="form-actions">
  <%= link_to 'Edit', edit_request_path(@request), class: 'btn btn-outline-primary' %>
  <%= link_to 'Back', requests_path, class: 'btn btn-outline-primary' %>
</div>

<%#= render "comments/widget", commentable: @request %>
