.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 28px;
  font-weight: bolder;
}

.txt-ocre
{
  color:  #B88028;
  font-size: 18px;
}

.txt-gris-medio
{
  color:  #9B9B9B;
  font-size: 18px;
}

a:focus {
    color: #B88028;
    text-decoration: underline;
}