.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 28px;
  font-weight: bolder;
}

.txt-ocre
{
  color:  #B88028;
  font-size: 18px;
}

.txt-gris-medio
{
  color:  #9B9B9B;
  font-size: 18px;
}

a:focus {
    color: #B88028;
    text-decoration: underline;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }